body {
    background-image: url(../Resources/Login/loginBackground.jpg);
    background-attachment: local; 
}

article {
    opacity: 0.95;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 32px;
    width: 320px;
    height: 224px;
    border: 3px #969696 solid;
    color: black;
    font-family: Calibri;
    text-align: center;
    border-radius: 5%;
}

h1{
    font-size: 24px;
    font-family:Calibri;
    padding: 8px;
}


