body {
    background-image: url(../Resources/MeatsStore/mainBackground.jpg);
    background-attachment: local;
 
}

header {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

article.main {
    opacity: 0.95;
    background-color: #5b5c74;
    color: white;
    font-family: Calibri;
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 16px;
    border-left: 2px #111111 solid;
    border-right: 2px #111111 solid;
    border-bottom: 2px #111111 solid;
}

ul.mainBar {
    list-style-type: none;
    overflow: hidden;
    background-color: #111111;
    margin-bottom: 0px;
}

li.mainBar {
    float: left;
    font-size: 20px;
}

li.mainBar a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
}

li.mainBar a:hover {
    background-color: #0021e9;
}

p.infoBar {
    padding-left: 2%;
    font-style: italic;
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;
    background: #717171
}


img.shoppingBasket {
    width: 48px;
    height: 48px;
    float: right;
    margin-top: 0px;
    background-color: #989898;
}

a:hover img.shoppingBasket {
    background-color: #0021e9;
}

article.gameBox {
    transform: translate(12.5%, 12.5%);
    font-size: 18px;
    font-style: oblique;
}

table.tb_gameTable {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
